


                <ul class="nav nav-tabs nav-intro-tabs" id="intro-master-tabs" role="tablist">
                {% for item in pages %}
                    {% set style = "" %}
                    {% if item.default is defined %}
                        {% set style = "active" %}
                    {% endif %}
                    <li class="nav-item"><a href="#{{ item.id }}" id="tab-{{ item.id }}" class="nav-link {{ style }}" data-toggle="tab" role="tab" aria-controls="{{ item.id }}" aria-selected="false">{{ item.name }}</a></li>
                {% endfor %}
                </ul>

                <div class="tab-content">
                {% for item in pages %}
                    {% set style = "" %}
                    {% if item.default is defined %}
                        {% set style = "active" %}
                    {% endif %}
                    <div class="tab-pane fade show {{ style }}" id="{{ item.id }}" role="tabpanel" aria-labelledby="tab-{{ item.id }}">
                    {% include item.file %}
                    </div>
                {% endfor %}
                </div>

